<!DOCTYPE html>
<html>
    <head>
        <title> Registration </title>
    </head>
    <body>
        <form method="POST" action="/submit">
            <center>
            <h1> Registration form</h1>
            Enter name: <input name="username" type="text">
            <br>
            Enter rollno: <input name="rollno" type="text">
            <br>
            
            Enter email: <input name="email" type="email">
            <br>
            Enter year:
            <select id="year" name="year">
                <option value="1">I</option>
                <option value="2">II</option>
                <option value="3">III</option>
                <option value="4">IV</option>
            </select>
            <br>
            <input type="submit">
            </center>
        </form>
    </body>
</html>